<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

	<targets>
		<target xsi:type="ColoredConsole"
		        name="console"
		        layout="${level:uppercase=true} ${longdate} (${logger}): ${message}"
		        detectConsoleAvailable="true"
		        detectOutputRedirected="true"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="console"/>
	</rules>
</nlog>
